## --- DOTNET ---
bin/
obj/
out/
.idea/
.vscode/
TestResults/
appsettings.Development.json

# Ne pas ignorer le fichier de solution lui-même
!*.sln

## --- TEST RESULTS ---
TestResults/
*.sequenced.json

## --- JETBRAINS (Rider) ---
.idea/
*.sln.iml

## --- OS X (Mac) ---
.DS_Store

## --- DOCKER ---
.dockerignore
